body {
	text-align: center;
}

#form { 
	margin-top: 22%;
}

#formOnTop { 
	margin-top: 10px;
}

#inputForm {
	width: 300px;
}

#title {
	margin-bottom: 30px;
	background-color: silver;
}

#titleDef {
	cursor: pointer;
}

#definition {
	display: none;
}

#titleSortantes {
	cursor: pointer;
}

#relationsSortantes {
	display: none;
}

#titleEntrantes {
	cursor: pointer;
}

#relationsEntrantes {
	display: none;
}

.typesRelSortantes {
	font-weight: bold;
	font-size: 18px;
}

